@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap');

html,
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-position: center;

  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans' !important;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.EasyMDEContainer .editor-toolbar {
  border: none;
}
.logo {
  color: #fecd70;
  font-size: 2rem;
}

.EasyMDEContainer .CodeMirror {
  border: none !important;
  background: none;
}

.editor-preview {
  background-color: white !important;
}

.CodeMirror
  .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background-color: transparent !important;
}

pre {
  padding: 20px;
  background-color: #efefef;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 20px;
  margin-left: 0px;
}
/* newsticker */
#ticker {
  background-color: #fecd70;
  overflow: auto;
  height: 30px;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
#ticker ul {
  display: block;
  padding: 0px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0px;
  list-style: none;
  white-space: nowrap;
  /*  news speed  */
  animation: scroll 20s linear 0s infinite;
  position: absolute;
}
#ticker ul li {
  display: inline-block;
  white-space: normal;
  margin-left: 20px;
  color: #1b1a17;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
#ticker .title {
  background-color: red;
  color: #fff;
  position: absolute;
  left: 0;
  font-weight: bold;
  border-right: 2px solid #fff;
  top: 0;
  display: block;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
@keyframes scroll {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(-150%, 0);
  }
}

/* Custom CSS */
#ticker {
  width: 100%;
  margin: auto;
}
#ticker ul {
  width: 100%;
}
a {
  text-align: center;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}
/* newsticker */

/* start of _app.js */
.accountInfo {
  width: 100%;
  display: flex;
  color: #fecd70;
  font-size: 1.5rem;
  font-weight: 700;
  flex: 1;
  justify-content: flex-end;
  font-size: 12px;
}

.container {
  padding: 40px;
  /* background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.6)),
    url('https://source.unsplash.com/1600x900/?technology');
  background-position: center;
  background-size: cover; */
}

.linkContainer {
  padding: 30px 60px;
  background-color: #fecd70;
}

/* .nav {
  background-color: #1b1a17;
} */

.header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding: 20px 30px;
}

.description {
  margin: 0;
  color: #1b1a17;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  color: #1b1a17;
}

.title {
  margin-left: 30px;
  font-weight: 500;
  margin: 0;
  color: #fecd70;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.buttonStyle {
  background-color: #1b1a17;
  outline: none;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 40px;
  border-radius: 15px;
  cursor: pointer;
  color: #fecd70;
  -webkit-box-shadow: 0px 1px 15px -3px rgba(97, 118, 75, 1);
  -moz-box-shadow: 0px 1px 15px -3px rgba(97, 118, 75, 1);
  box-shadow: 0px 1px 15px -3px rgb(97, 118, 75);
}

.link {
  margin: 0;
  color: #fecd70;
  font-size: 16px;
  font-weight: 400;
}

/* end of _app.js */
